.sectionprice_had{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
}
.price_button{
    width: 368px;
    height: 60px;
    border: none;
    background-color: #65256F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 auto;
}
.sectionprice_body{
    display: flex;
    flex-direction: column;
    /* background-color: #65256F; */
    justify-content: space-around;
    height: 1200px;
    /* align-items: flex-end; */
}